* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    /* background-color: hsl(220, 15%, 55%); */
    background-color: hsl(212, 45%, 89%);
}

.box {
    background-color: hsl(0, 0%, 100%);
    padding: 1.1rem 1.1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    max-width: 20rem;
    box-shadow: -3px 4px 7px hsl(220deg 15% 55%);
}

@media (max-width: 600px) {
    .box {
        width: 84%;
    }

    .box p {
        opacity: 0.6;
    }
}
/* 
.box img {
    border-radius: 1rem;
} */

.box img {
    width: 100%;
    border-radius: 1rem;
}

.box h1, .box p {
    padding-top: 1rem;
}

.box h1 {
    font-size: 1.2rem;
}

.box p {
    padding-bottom: 1rem;
    opacity: 0.75;
}

/* body {
 background-color: hsl(220, 15%, 55%);

}

section {
    text-align: center;
    box-shadow: 20px 20px 20px;
}

.box {
    background-color: white;
    margin-top: 5rem;
} */
